<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

  <appSettings>
    <add key="NeweggURL" value="https://api.newegg.com/marketplace/ordermgmt/order/orderinfo"/>
    <add key="sellerID" value="A006"/>
    <add key="version" value="304"/>
    <add key="Authorization" value="720ddc067f4d115bd544aff46bc75634"/>
    <add key="SecretKey" value="21EC2020-3AEA-1069-A2DD-08002B30309D"/>



    <add key="username" value="c6a5778bd92909a6"/>
    <add key="password" value="ade51e327ebd2d642df926"/>
    <add key="CanadaPostURL" value="https://ct.soa-gw.canadapost.ca/rs/ship/price"/>
    <add key="mailedBy" value="4008838"/>
    <add key="contractID" value="43361531"/>

  </appSettings>
</configuration>
